.btn-color-default {
  cursor: pointer;
  background-color: white;
  border: 0 solid white;
  border-radius: 0.5rem;
  transition: 0.5s linear;
  box-shadow: 1px 1px lightgray;
}
.btn-color-default:hover {
  background-color: darkgreen;
  color: white;
}

.btn-color-danger {
  cursor: pointer;
  color: white;
  background-color: #ff5403;
  border: 0 solid white;
  border-radius: 0.5rem;
  transition: 0.5s linear;
  box-shadow: 1px 1px lightgray;
}
.btn-color-danger:hover {
  background-color: #f90716;
  color: white;
}

.btn-size-sm {
  font-size: small;
  width: auto;
  height: auto;
  padding: 10px;
}
