.textarea {
  padding: 1rem;
  border-radius: 0.5rem;
}

.textarea-resize-none {
  resize: none;
}
.textarea-resize-inherit {
  resize: inherit;
}

.textarea-color-primary {
  background-color: #7a4495;
  color: aliceblue;
}
.textarea-color-secondary {
  background-color: #b270a2;
  color: aliceblue;
}

.textarea-size-lg {
  width: 80%;
  height: 90%;
}
