.page-404-container {
  width: 100%;
  height: 100vh;
}

.page-404-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: crimson;
  background-color: ivory;
}
