* {
  font-family: 'Times New Roman', Times, serif;
  text-decoration-line: none;
  color: inherit;
}

$commonColor : black;

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  z-index: -10;
}

.welcomePage-wrpper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.welcomePage-item {
  background-color: rgba($color: #c9c3b9, $alpha: .2);
  margin: 1vw;
  padding: 1vw;
  backdrop-filter: 10px;
  color: $commonColor;
  border: 1px solid $commonColor;
  border-radius: 1vw;
  box-shadow: 1px 1px $commonColor;
}
.welcomePage-item.nav {
  font-size: x-large;
  font-weight: 900;
  margin: 1vw;
  color: $commonColor;
  border: 1px solid $commonColor;
  transition: 1s ease-in-out;
}
.welcomePage-item.nav:hover {
  color: darkslategrey;
  background-color: rgba($color: #e4ec70, $alpha: .7);
}

.animation_start_btn {
  animation: start_btn_scale infinite 3s;
}

@keyframes start_btn_scale {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
